/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{$white-color};
  --global-code-bg-color: rgba(#0096a9, 0.05);
  --global-text-color: #154734;
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #0096a9;
  --global-hover-color: #00793f;
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #154734;
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #fdb714;
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(21, 71, 52, 0.1);
  --global-card-bg-color: #{$white-color};
  --global-highlight-color: #fdb714;
  --global-back-to-top-bg-color: rgba(0, 150, 169, 0.4);
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$white-color};
  --global-newsletter-text-color: #154734;

  --global-tip-block: #00793f;
  --global-tip-block-bg: #e8f5f2;
  --global-tip-block-text: #154734;
  --global-tip-block-title: #00793f;
  --global-warning-block: #fdb714;
  --global-warning-block-bg: #fffaed;
  --global-warning-block-text: #154734;
  --global-warning-block-title: #fdb714;
  --global-danger-block: #154734;
  --global-danger-block-bg: #f0f8f6;
  --global-danger-block-text: #154734;
  --global-danger-block-title: #154734;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #2c3237;
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #0096a9;
  --global-hover-color: #fdb714;
  --global-hover-text-color: #154734;
  --global-footer-bg-color: #154734;
  --global-footer-text-color: #fdb714;
  --global-footer-link-color: #fdb714;
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};
  --global-back-to-top-bg-color: rgba(0, 150, 169, 0.5);
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$grey-color-light};
  --global-newsletter-text-color: #154734;

  --global-tip-block: #0096a9;
  --global-tip-block-bg: #1a3f47;
  --global-tip-block-text: #0096a9;
  --global-tip-block-title: #0096a9;
  --global-warning-block: #fdb714;
  --global-warning-block-bg: #3f3c1a;
  --global-warning-block-text: #fdb714;
  --global-warning-block-title: #fdb714;
  --global-danger-block: #0096a9;
  --global-danger-block-bg: #1a3f47;
  --global-danger-block-text: #0096a9;
  --global-danger-block-title: #0096a9;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
